.linePath, .circles {
  stroke : steelblue;
}

.linePath {
  stroke-width : 4px;
  fill         : none;
}

.areaPath {
  fill : lightsteelblue;
}

.circles {
  stroke-width : 1px;
  fill         : white;
}

